@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Young-serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
}

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --neutral-White: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: var(--eggshell);
}

main {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: Young-serif;
}

h1 {
  color: var(--dark-charcoal);
  font-size: 2.2rem;
}

h2 {
  margin-bottom: 24px;
  color: var(--nutmeg);
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  color: var(--wenge-brown);
  font-family: Outfit;
  line-height: 25px;
}

ul,
ol {
  padding: 0 0 0 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

li {
  padding-left: 10px;
}

ol li {
  color: var(--nutmeg);
  font-family: Outfit;
}

ol li::marker {
  font-weight: 600;
}

ul li::marker {
  font-size: 0.8em;
}

table {
  width: 100%;
  font-family: Outfit;
  color: var(--wenge-brown);
  border-collapse: collapse;
}

td {
  padding-left: 33px;
}

tr:nth-child(-n + 3) {
  border-bottom: 1px solid var(--light-grey);
}

.separator {
  height: 1px;
  margin: 31px 0 33px 0;
  background: var(--light-grey);
}

.li--nutmeg {
  color: var(--nutmeg);
}

.li--pink {
  color: var(--dark-raspberry);
}

.card {
  max-width: 46.063rem;
  background: var(--neutral-White);
}

.card__body {
  padding: 35px 31px;
}

.card table {
  margin-top: 27px;
}

.card img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.card h1 {
  margin-bottom: 25px;
}

.info-container {
  padding: 25px 43px 25px 25px;
  margin: 30px 0;
  background: var(--rose-white);
}

.info-container h2 {
  margin-bottom: 18px;
  color: var(--dark-raspberry);
  font-family: Outfit;
  font-size: 1.2rem;
}

.nutritional-values {
  color: var(--nutmeg);
  font-weight: 700;
}

@media (min-width: 668px) {
  .card {
    padding: 39px;
    border-radius: 10px;
  }

  .card__body {
    padding: 35px 0 0 0;
  }

  .card img {
    border-radius: 10px;
  }
}
